

body{
    margin: 0;
    padding: 0;
  
}
.top{
    height:31.25em;
  
}
.navigation{
    display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top:1%;
   margin-bottom:1%;

}
.titlenav{
    font-family: 'Vidaloka', serif;  
}
.info{
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.hc{
    margin-top: 0 !important;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color:white;
    font-weight: bold;
}
.headline{
    font-weight: bold;
}
h1{
    font-family: 'Vidaloka', serif;
    font-size: 80px;
    margin-bottom: 0;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.verify{
    
    margin-top:12%;
position: absolute;
z-index: 1;
    text-align: center;
    color:white;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
/* .black{
  top: 0;
  left:0;
 width:50%;
    height:100%;
    z-index:auto;
    background-color:rgba(0, 0, 0, 0.856);
    position: absolute;
} */
header{
    width:100%;
}

.closet{
    display:inline-block;
    margin-top: 0;
   /* display: grid;
   grid-template-columns: 1fr 1fr; */
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 50%, rgba(0,0,0,0.81) 50%, rgba(0,0,0,0.85) 100%), url("https://lh3.google.com/u/0/d/1ZQgCqfat9MlDv9XzEXZZgGmoYvwsTZc_=w1920-h915-iv1");
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 50%, rgba(0,0,0,0.81) 50%, rgba(0,0,0,0.85) 100%), url("https://lh3.google.com/u/0/d/1ZQgCqfat9MlDv9XzEXZZgGmoYvwsTZc_=w1920-h915-iv1");
    background: linear-gradient(90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 50%, rgba(0,0,0,0.81) 50%, rgba(0,0,0,0.85) 100%), url("https://lh3.google.com/u/0/d/1ZQgCqfat9MlDv9XzEXZZgGmoYvwsTZc_=w1920-h915-iv1");
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto, cover;
    background-size: auto auto, cover;   
     width:100%;
    height:100%;
    position: relative;
   
    
}
ul{
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
}
li{

display:inline;
margin-left:5%;
} 

ul{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;

}
.titlenav,ul{
    padding: 1.3%;
    margin-bottom: 0.1%;
}

.calander{
    width:40px;
    height:40px;
}
.card-body,.card-title,.fa, .fas,.fa-3x{
    text-align: center;
}
.card{
    border:none !important;
}

.description{
    text-align: center;
    font-family: 'Vidaloka', serif;  
}
h5{
    font-weight: bold;
}
.benefits{
    background-color: black;
    padding-bottom: 5em;
}
.contactimage{
background-image: url("https://lh3.google.com/u/0/d/1W0O0WhV4esBdgoIdN9ZVY1Rt8fOt_x86=w1920-h904-iv1");
background-size:contain;
background-attachment: fixed;
background-position:right;
background-repeat: no-repeat;

}
.contact{
    height:20em !important;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,button{
    color: rgba(27, 30, 33, 1);
    background-color:rgba(188, 240, 0, 1);
    border-color:#dee2e6 #dee2e6 #fff;
}
 a:hover {
        color: rgba(147, 158, 169, 1);
        text-decoration: underline;
    }
    a {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        background-color: transparent;
    }
    
    .nav-tabs {
        border-bottom: 1px solid #dee2e6;
        background-color: black;
    }
    .formbtn,.formstyle{
        background-color: black;
        color:white;
    }
    .input-container {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        width: 100%;
        margin-bottom: 15px;
      }
      .icon {
        padding: 10px;
        background:rgba(188, 240, 0, 1);
        color:black;
        min-width: 50px;
        text-align: center;
      }
      .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: rgba(188, 240, 0, 1);
        outline: 0;
        box-shadow: 0px 0px 0px 0.2rem rgba(0,123,255,0.25);
    }
    