

body{
    margin: 0;
    padding: 0;
  
}

.navigation{
    display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top:1%;
   margin-bottom:1%;

}


.top{
    height:31.25em;
  
}

.titlenav{
    font-family: 'Vidaloka', serif;  
}
.info{
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.hc{
    margin-top: 0 !important;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color:white;
    font-weight: bold;
}
.headline{
    font-weight: bold;
}
h1{
    font-family: 'Vidaloka', serif;
    font-size: 80px;
    margin-bottom: 0;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.verify{
    
    margin-top:12%;
position: absolute;
z-index: 1;
    text-align: center;
    color:white;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

header{
    width:100%;
}

.closet{
    display:inline-block;
    margin-top: 0;
  
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 50%, rgba(0,0,0,0.81) 50%, rgba(0,0,0,0.85) 100%), url("https://lh3.google.com/u/0/d/1ZQgCqfat9MlDv9XzEXZZgGmoYvwsTZc_=w1920-h915-iv1");
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 50%, rgba(0,0,0,0.81) 50%, rgba(0,0,0,0.85) 100%), url("https://lh3.google.com/u/0/d/1ZQgCqfat9MlDv9XzEXZZgGmoYvwsTZc_=w1920-h915-iv1");
    background: linear-gradient(90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 50%, rgba(0,0,0,0.81) 50%, rgba(0,0,0,0.85) 100%), url("https://lh3.google.com/u/0/d/1ZQgCqfat9MlDv9XzEXZZgGmoYvwsTZc_=w1920-h915-iv1");
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto, cover;
    background-size: auto auto, cover;   
     width:100%;
    height:100%;
    position: relative;
   
    
}


ul{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
}

.titlenav,ul{
    padding: 1.3%;
    margin-bottom: 0.1%;
}
li{

display:inline;
margin-left:5%;
} 



.calander{
    width:40px;
    height:40px;
}
.card-body,.card-title,.fa, .fas,.fa-3x{
    text-align: center;
}
.card{
    border:none !important;
}

.description{
    text-align: center;
    font-family: 'Vidaloka', serif;  
}
h5{
    font-weight: bold;
}
.benefits{
    background-color: black;
    padding-bottom: 5em;
}
.contactimage{
background-image: url("https://lh3.google.com/u/0/d/1W0O0WhV4esBdgoIdN9ZVY1Rt8fOt_x86=w1920-h904-iv1");
background-size:contain;
background-attachment: fixed;
background-position:right;
background-repeat: no-repeat;

}
.contact{
    height:20em !important;
}

/* content inside of modals */

    .formbtn,.formstyle{
        background-color: black;
        color:white;
    }
    .input-container {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        width: 100%;
        margin-bottom: 15px;
      }
      .icon {
        padding: 10px;
        background:rgba(188, 240, 0, 1);
        color:black;
        min-width: 50px;
        text-align: center;
      }
      .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: rgba(188, 240, 0, 1);
        outline: 0;
        box-shadow: 0px 0px 0px 0.2rem rgba(0,123,255,0.25);
    }
    .signin{
        margin-left: 2.5em;
    }
    .form-group  {
       border-radius: 0 !important;
       
      }
      .form-group {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        width: 100%;
        margin-bottom: 15px;
      }
     
    
    .center form{
        text-align:center;
    }

    .btn-primary:hover, 
    .btn-primary:focus,
    .btn-primary:active {
        color: #fff;
        background-color: rgba(116, 184, 0, 1) !important;
        border-color: rgba(116, 184, 0, 1)!important;
    }
    .btn-primary,.btn-success{
        color: #000;
        background-color: rgba(188, 240, 0, 1);
        border-color: rgba(188, 240, 0, 1);
    }
    .btn{
        margin-left:3em !important; 
    }
    .modal-content,.close{
        font-family: 'Lato', sans-serif;
        background-color: black;
        color:white;
    }
    h5{
        font-family: 'Vidaloka', serif;  
    }
    
   
    .centerbtn{
margin-left:10em !important;
    }
  
    /* styling for the it works section */
    .fa-whatsapp-square,
    .fa-shopping-bag,
    .fa-calendar-alt{
        color:black;
    } 

    /* styleing for the menu bar */
    .menu_links {
         cursor: pointer;
         }

         .top {
            height: 31.25em;
            width: 80em;
        }
        